@import url(https://fonts.googleapis.com/css?family=Lato:300,700,400);

body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	background: #fff;
	overflow: hidden;
	transition: background .75s ease-in, color .75s ease-in;
}

.quote-box {
	background: white;
	display: inline-block;
	position: relative;
	margin: 15% 15% 5% 15%;
	border-radius: 5px;
}

.quote-content {
	padding: 15px;
}

.fa-quote-left, .fa-quote-right {
	font-size: 30px;
}

.fa-quote-left {
	padding-right: 10px;
}

.fa-quote-right {
	padding-left: 10px;
}

#quote-text {
	font-size: 20px;
	font-weight: 700;
}

#quote-author {
	text-align: right;
	font-weight: 300;
}

.buttons {
	padding-top: 50px;
}

#tweet {
	position: absolute;
	left: 10px;
	bottom: 0px;
	font-size: 40px;
	transition: color .75s ease-in;
}

#get-quote {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: white;
	padding: 10px;
	border-radius: 5px;
	transition: background .75s ease-in;
	cursor: pointer;
}

.footer, .footer a {
	color: white;
}