body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: white;
  margin: 0 20px;
  transition: all .5s ease-in;
}

h1 {
  color: white;
  margin: 50px 0;
  font-size: 30px;
  text-align: center;
}

.footer {
  color: white;
  margin-top: 10px;
  text-align: center;

  a {
    color: white;
  }
}

.quoteBox {
  background: white;
  padding: 25px;
  border-radius: 5px;

  .fa-quote-left { margin-right: 10px; }

  .quote {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
  }

  .author {
    margin: 20px 0;
    text-align: right;
    font-weight: bold;
  }

  .newQuote {
    float: right;
    padding: 10px;
    background: white;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    transition: background .5s ease-in, color .5s ease-in, opacity .2s ease-in;
    cursor: pointer;

    &:hover { opacity: .8; }
  }

  .tweet {
    font-size: 36px;
    color: inherit;
    transition: opacity .2s ease-in;

    &:hover { opacity: .8; }
  }

  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  @media (min-width: 600px) {
    width: 500px;
    margin: 0 auto;
  }
}
